.Keyboard {
    --border-color: black;
    --border-width: 1px;
    display: inline-block;
    border-right: var(--border-width) solid var(--border-color);
    border-bottom: var(--border-width) solid black;  
    white-space: nowrap;
}

.keyWrapper {
    white-space: nowrap;
    position: relative;
    display: inline-block; 
    border-bottom: 1px solid var(--border-color);  
}

.writeKey {
    display: inline-block;
    width: 26px;
    height: 10vh; 
    background-color: white;
    border-left: var(--border-width) solid var(--border-color);
}

.blackKey {
    position: absolute;    
    z-index: 1;
    top: 0;
    left: 20px; 
    width: 13px;
    height: 6vh;
    background-color: black;
    border-left: 1px solid black;
    border-right: var(--border-width) solid var(--border-color);
    border-bottom: var(--border-width) solid var(--border-color);
}

.key {
    box-sizing:  border-box;
}

.key.C {
    border-top: 5px solid red;
}

.key.Csharp {
   border-top: 5px solid orangered; 
}

.key.D {
    border-top: 5px solid orange;
}

.key.Dsharp {
    border-top: 5px solid #ffcc00;
}

.key.E {
    border-top: 5px solid yellow;
}

.key.F {
    border-top: 5px solid greenyellow;
}

.key.Fsharp {
    border-top: 5px solid green;
}

.key.G {
    border-top: 5px solid cyan;
}

.key.Gsharp {
    border-top: 5px solid blue;
}

.key.A {
    border-top: 5px solid blueviolet;
}

.key.Asharp {
    border-top: 5px solid violet;
}

.key.B {
    border-top: 5px solid magenta;
}

.key.C:hover {
    background-color: red; cursor:Pointer;
}

.key.Csharp:hover {
    background-color: orangered; cursor:Pointer;
}

.key.D:hover {
    background-color: orange; cursor:Pointer;
}

.key.Dsharp:hover {
    background-color: #ffcc00; cursor:Pointer;
}

.key.E:hover {
    background-color: yellow; cursor:Pointer;
}

.key.F:hover {
    background-color: greenyellow; cursor:Pointer;
}

.key.Fsharp:hover {
    background-color: green; cursor:Pointer;
}

.key.G:hover {
    background-color: cyan; cursor:Pointer;
}

.key.Gsharp:hover {
    background-color: blue; cursor:Pointer;
}

.key.A:hover {
    background-color: blueviolet; cursor:Pointer;
}

.key.Asharp:hover {
    background-color: violet; cursor:Pointer;
}

.key.B:hover {
    background-color: magenta; cursor:Pointer;
}

