.Row {
   --border-width: 1px;
   display: inline-block;
   border-right: var(--border-width) solid gray;
   /*
        prevent line to be breaked by white space
        https://developer.mozilla.org/en-US/docs/Web/CSS/white-space
   */
   white-space: nowrap;
}

.cellWrapper {
    position: relative;
    display: inline-block;
    /* user-select: none; */
}

.writeCell {
    display: inline-block;
    width: 26px;
    height: 20px;
    background-color: white;
    border-left: var(--border-width) solid gray;

}

.blackCell {
    position: absolute;
    top:0;
    z-index: 1;
    left: 20px; 
    width: 13px;
    height: 20px;
    border-left: var(--border-width) solid #ddd;
    border-right: var(--border-width) solid #ddd;
    /* background-color: white; */
}

.cell {
    border-top: var(--border-width) solid gray;
    box-sizing:  border-box;
}

.cell:hover {
    cursor:Pointer; 
    background-color: gray;
}

.cell.onPressContinue {
    /* background-color: red; */
    border-top: 0;
}

.C.onPress {
    background-color: red; 
}

.Csharp.onPress {
    background-color: orangered;
}

.D.onPress {
    background-color: orange;
}

.Dsharp.onPress {
    background-color: #ffcc00;
}

.E.onPress {
    background-color: yellow;
}

.F.onPress {
    background-color: greenyellow;
}

.Fsharp.onPress {
    background-color: green;
}

.G.onPress {
    background-color: cyan;
}

.Gsharp.onPress {
    background-color: blue;
}

.A.onPress {
    background-color: blueviolet;
}

.Asharp.onPress {
    background-color: violet;
}

.B.onPress {
    background-color: magenta;
}