.strap {
      /* white-space: nowrap; */
      /* height: 120 */
      /*
          remove space between inline block elements (as inline blocks regarded as )
          https://stackoverflow.com/questions/5078239/how-to-remove-the-space-between-inline-block-elements
      */
      font-size: 0;
      height: 85vh;
      overflow-y: scroll;
      /* padding-bottom: 85vh; */
}

.whiteSpace {
    height: 85vh;
}