.App {
   text-align: center; 
}

.App-header {
  color: #333333;
  position: fixed;
  top: 0;
}

.App-header > h2 {
  margin-left: 5px;
  margin-top: 5px;
  text-align: left;
}

.board {
  /* background-color: gray; */
  padding-top: 6px;
  height: 0px;  
  width: 100%;
  position: fixed;
  top: 35px;
  white-space: nowrap;
}

.soundFlow {
  margin-top: 122px;
}

.soundFlow .keyboardFlow {
  background-color: white;
  height: 15000px;
  float: left;
  width: 90%;
}

.soundFlow .voiceFlow {
  background-color: #885ff3;
  height: 15000px;
  margin-left: 90%; 
}


.App-intro {
  font-size: large;
} 

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.voiceBoard {
  display: inline-block;
  width: 70px;
  height: 80px;
  background-color: yellow;
  border: 1px solid gray;
}