.App {
   /* text-align: center;  */
}

.App-header {
  background-color: black;
  width: 100%;
  color: whitesmoke;
  position: fixed; 
  top: 0; 
  font-size: 30px;
  padding-left: 20px;
  height: 35px;
}

.board {
  text-align: center; 
  background-color: black;  
  width: 100%; 
  position: fixed; 
  top: 35px; 
  padding-top: 10px;
  white-space: nowrap;
  height: 87px;
}

.soundFlow {
  text-align: center;
  white-space: nowrap;
  margin-top: 132px;
  width: 100%
}

.keyboardFlow {
  background-color: gray;
  height: 15000px;
}
