body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*
* Bring back scrollbar for OS X 
* http://simurai.com/blog/2011/07/26/webkit-scrollbar
*/
/* ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: rgba(0,0,0,.5);
  box-shadow: 0 0 1px rgba(255,255,255,.5);
} */
